_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
_drafts
Gemfile.lock
_posts/apa-itu-shell/
_posts/cara-memperbarui-fork-repository/
_posts/edge-of-the-universe/
_posts/how-this-site-was-made/
_posts/python-notes-from-Intro-to-machine-learning/
_posts/react-component-with-dot-notation/